<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fleur de Lis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="main.js"></script> -->
    <link rel="stylesheet" href="../resources/css/normalize.css">
    <link rel="stylesheet" href="../resources/css/base.css">
    <link rel="stylesheet" href="../resources/css/bio.css">
</head>

<body>
    <!-- Map modal -->
    <div id="map-modal" class="closed">
        <div class="inner-modal">
            <img class="close" src="../resources/images/cancel.png" alt="close button">
            <iframe id="map" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <!-- Navigation bar -->
    <div id="nav-container">
        <button class="mobile-nav-button">
            <img class="button-img" src="../resources/images/menu-button-of-three-horizontal-lines.png" alt="menu button">
        </button>

        <nav class="flex-container">
            <div class="nav-logo">
                <a href="../index.html">
                    <img class="nav-logo-img" src="../resources/images/fleur-de-lis-icon.png" alt="Fleur de Lis logo">
                </a>
            </div>
            <a href="./about.html">About</a>
            <a href="./faq.html">FAQs</a>
            <a href="./services.html">Services</a>
            <a href="./bio.html">Biography</a>
        </nav>
    </div>

    <!-- mobile menu -->
    
    <div class="mobile-nav">
        <a href="./about.html">About</a>
        <a href="./faq.html">FAQs</a>
        <a href="./services.html">Services</a>
        <a href="./bio.html">Biography</a>
    </div>

    <!-- Biography box -->
    <div class= "bio-container"> 

        <!-- <div class= "bio-header"> -->
         <div class = "main-bio"> 
            <div class= "bio-image">
                <img class= "aerin" src="../resources/images/Couvillion, Aerin.jpg" alt="acupuncturist photo">
            </div>

            <div class= "bio-header">
                <h1 class="color">Aerin Couvillion, L.Ac.</h1>
                <p class= "bio-text">I spent my undergraduate years at LSU finishing in landscape architecture. I wanted to pursue my love of plants and art and
                design into this combined profession. It wasn’t until much later that I began marveling at the power, effectiveness and ancient
                practice of herbal medicine. I have a deep respect and love of plants. The gifts they bring to all manner of creatures as
                well as the healing impact they have on our planet are immeasurable. The use of plants as herbal medicine is what set my
                path to become a practitioner of Chinese medicine.<br>
                After spending 14 years out of state, and completing a masters in Oriental medicine from Pacific College of Oriental Medicine,
                I am happy to call Louisiana home once again. I am proud to be a licensed acupuncturists in both the states of Louisiana
                and New York.</p>
            </div>
        </div>
        <div></div>
        <h2 class= "radial-color">Credentials</h2>
        <p class= "bio-credentials">Nationally board certified herbalist Diplomate of Oriental Medicine by the National Certification Commission for Acupuncture
        and Oriental Medicine
        <a class="place-link" href="NCCAOM.org">(NCCAOM)</a>. Certified in Clean Needle Technique by the Certification and Commission of Acupuncture and Oriental Medicine
        (CCAOM). I serve as a member of the Acupuncture Association of Louisiana
        <a class="place-link" href="acoupuntureoflouisiana.org">(AAL)</a>
        and the Acupuncture Society of New York
        <a class="place-link" href="asny.org">(ASNY)</a>
        <br> I am currently in the process of partnering with the VA in order to provide acupuncture therapy to our veterans.</p>
    </div>

    <!-- Footer -->
    <div id="footer-container">
        <div id="foot-flex-container">
            <div class="address-one mobile-foot"></div>
            <div class="address-two mobile-foot"></div>
            <a href="tel:1-225-658-6624">
                <div class="phone mobile-foot"></div>
            </a>
            <a target="_blank" href="https://www.facebook.com/fleurdelis.acupuncture">
                <div class="fb mobile-foot"></div>
            </a>
        </div>

        <footer class="grid-container">
            <h2 class="address-header tab-n-desk-foot">With two locations to serve you:</h2>
            <p id="gmaps-one" class="tab-n-desk-foot">4710 McHugh Rd. </br>
                Zachary, La 70791 </br>
                on the campus of Lane </br>
                Regional Medical Center</p>
    
            <p id="gmaps-two" class="tab-n-desk-foot">340 St. Joseph St. </br>
                Baton Rouge, La. 70806 </br>
                at One Heart Yoga center</p>
    
            <h2 class="phone-header tab-n-desk-foot">Call now to schedule:</h2>
    
            <a href="tel:1-225-658-6624" class="phone-number">
                <p class="phone-number tab-n-desk-foot">225.658.6624</p>
            </a>
    
            <h2 class="facebook-header tab-n-desk-foot">Follow us on:</h2>
            <a class="facebook-link tab-n-desk-foot" target="_blank" href="https://www.facebook.com/fleurdelis.acupuncture">
                <img class="facebook-link" src="../resources/images/facebook-logo.png" alt="Facebook">
                <p>Facebook</p>
            </a>
    
        </footer>
    </div>
    <script src="../resources/js/index.js"></script>
</body>

</html>