/*------------------- Universal styles ---------------------------*/

.about-grid-container{
    display: grid;
    display: -ms-grid;
    grid-template-areas: 
    "hero container",
    "text container",
    "office container"
}

.hero-container-water{
    grid-area: "hero container";
}

.text-container{
    grid-area: "text container";
}

.office-image{
    grid-area: "office container";
}

/* ---------------------nav --------------------------------------- */

.flex-container :nth-child(2){

    color: rgba(255, 183, 81, 1);
    font-size: 1.9em;
}

/* .open-nav{
    z-index: 4;
} */

/* -------------------- hero container -----------------------------*/

.hero-container-water{
    background-image: url('../images/5water.jpg');
    background-size: cover;
    height: 80vh;
}

.top-about-border{
    height: 20%;
    background-color:rgba(219, 105, 80, .9);
    box-shadow: 0 6px rgba(0, 0, 0, 0.1);


}

h1{
    margin: 5.4em 0 0 2.3em;
    font-size: 3.5em;
    color: rgb(240, 221, 77);
    text-shadow: 1px 1px 0 rgba(28, 49, 68, .1),
    -1px 1px 0 rgba(28, 49, 68, .1),
    1px -1px 0 rgba(28, 49, 68, .1),
    -1px -1px 0 rgba(28, 49, 68, .1),
    0px 1px 0 rgba(28, 49, 68, .1),
    0px -1px 0 rgba(28, 49, 68, .1),
    -1px 0px 0 rgba(28, 49, 68, .1),
    1px 0px 0 rgba(28, 49, 68, .1),
    2px 2px 0 rgba(28, 49, 68, .1),
    -2px 2px 0 rgba(28, 49, 68, .1),
    2px -2px 0 rgba(28, 49, 68, .1),
    -2px -2px 0 rgba(28, 49, 68, .1),
    0px 2px 0 rgba(28, 49, 68, .1),
    0px -2px 0 rgba(28, 49, 68, .1),
    -2px 0px 0 rgba(28, 49, 68, .1),
    2px 0px 0 rgba(28, 49, 68, .1),
    1px 2px 0 rgba(28, 49, 68, .1),
    -1px 2px 0 rgba(28, 49, 68, .1),
    1px -2px 0 rgba(28, 49, 68, .1),
    -1px -2px 0 rgba(28, 49, 68, .1),
    2px 1px 0 rgba(28, 49, 68, .1),
    -2px 1px 0 rgba(28, 49, 68, .1),
    2px -1px 0 rgba(28, 49, 68, .1),
    -2px -1px 0 rgba(28, 49, 68, .1);
}

/* --------------------------text container ------------------ */

.text-container{
    z-index: 1;
    height: 38vh;
    background-color:rgba(219, 105, 80, 1);
    color:whitesmoke;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    text-justify: kashida;
    /* border-bottom: 5px solid rgba(0, 0, 0, 0.03); */
    box-shadow: 0 8px rgba(0, 0, 0, .3);
}

.text-container p{
    margin: 0 6em;
    font-size: 1.2em;

}

/* --------------------------------- office img ------------------ */

.office-image{
    background-image: url('../images/IMG_20150505_130019_905.jpg');
    background-size: cover;
    height: 70vh
}

/* --------------------------------footer ----------------------- */

#footer-container {
    height: 20vh;
}


/* --------------------------------for mobile sizes ----------------------- */

@media only screen and (max-width: 823px) and (min-height: 314px) and (orientation: landscape) {
  
   /*----------------------------hero header -----------------  */

   h1 {
     margin: 1.4em 0 0 0.3em;
   }

   /*----------------------------text -----------------  */

    .text-container{
        height: 130vh;
        
    }

}

@media only screen and (max-width: 768px){

    /*----------------------------hero header -----------------  */

    h1{
        margin: 1.4em 0 0 0.3em;
    }

}

@media only screen and (max-width: 768px) and (orientation: portrait){

    .hero-container-water{
        height: 50vh;
    }
}

/* --------------------------------for iphone 5 & SE only----------------------- */

@media only screen and (width: 568px) and (height: 320px) and (orientation: landscape) {
  .text-container {
    height: 200vh;
  }
}


@media only screen and (max-width: 414px){


    /*----------------------------hero header -----------------  */
    
    h1{
        margin: 4.4em 0 0 0.3em;
        font-size: 2em;
    }

    /* --------------------------text container ------------------ */

    .text-container{
        height: 110%;
    }

    .text-container p{
        margin: 0 2em;
    }
}
